.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .input-container {
    display: flex;
    flex-direction: column;

    label {
      font-size: 28px;
    }

    input {
      font-size: 28px;
      border: 1px solid;
      width: 100px;
    }
  }

  .signup {
    margin: 50px;
    font-size: 28px;
    width: 100px;
    height: 50px;
    line-height: 0;
  }
}
